aiohttp
aiosignal
altair
async-timeout
attrs
backports.zoneinfo
blinker
cachetools
certifi
charset-normalizer
click
dataclasses-json
decorator
dnspython
frozenlist
gitdb
GitPython
googleapis-common-protos
greenlet
grpc-gateway-protoc-gen-openapiv2
grpcio
idna
importlib-metadata
importlib-resources
Jinja2
jsonschema
langchain
langchainplus-sdk
loguru
lz4
markdown-it-py
MarkupSafe
marshmallow
marshmallow-enum
mdurl
multidict
mypy-extensions
numexpr
numpy
openai
openapi-schema-pydantic
packaging
pandas
Pillow
pinecone-client
pkgutil_resolve_name
pyarrow
pydantic
pydeck
Pygments
Pympler
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
regex
requests
rich
six
smmap
SQLAlchemy
streamlit
streamlit-chat
tenacity
tiktoken
toml
toolz
tornado
tqdm
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
yarl
zipp
protobuf==3.20.*